<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-inner">
	  <div class="navbar-header">
	     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bridge-nav-collapse">
	       <span class="sr-only"> Toggle Navigation</span>
	       <span class="icon-bar"></span>
	       <span class="icon-bar"></span>
	       <span class="icon-bar"></span>
	       </button>
	 	     <a class="navbar-brand" href="#"><img src="/assets/brydge.jpg"></a>
	  </div>
		<div class="collapse navbar-collapse" id="bridge-nav-collapse">
	  	<ul class="nav navbar-nav">
				<li><a href="#help">Help</a></li>
					<li id="sign-out"><a href="#">Log Out</a></li>
					<li><a class="last" href="#settings">Settings</a></li>
	      <ul class="dropdown-menu">
	      </ul>
	    </ul>
			<div class="col-sm-12">
						<div class="navigation-holder">
	 	     	 	 	<a href="#"><img src="/assets/explore.png"></a><br>
							Explore
				 		</div>

						<div class="navigation-holder">
	 	     	    <a href="#"><img src="/assets/create.png"></a><br>
							Create
					  </div>

						<div class="navigation-holder">
		 	     	  <a href="#"><img src="/assets/partners.png"></a><br>
							Partners
						</div>
						
						<div class="navigation-holder">
		 	     	  <a href="#"><img src="/assets/projects.png"></a><br>
							Projects
						</div>
						
						<div class="navigation-holder">
		 	     	  <a href="#"><img src="/assets/profile.png"></a><br>
							Profile
						</div>
			</div>
		</div>
	</div>
</nav>