<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-inner">
	  <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#explore-menu-collapse">
       <span class="sr-only"> Toggle Navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       </button>
	     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bridge-nav-collapse">
	       <span class="sr-only"> Toggle Navigation</span>
	       <span class="icon-bar"></span>
	       <span class="icon-bar"></span>
	       <span class="icon-bar"></span>
	       </button>
	 	     <a class="navbar-brand" href="#"><img src="/assets/brydge.jpg"></a>
	  </div>
		<div class="collapse navbar-collapse" id="explore-menu-collapse">
	  	<ul class="nav navbar-nav">
				<li ><a id="help" href="#help">Help</a></li>
				<li ><a id="sign-out" href="#">Log Out</a></li>
	    </ul>
		</div>
		<div class="navbar-collapse" id="bridge-nav-collapse">
	  	<ul class="nav navbar-nav navigation-holder">
					<li>
		   	 	 	<a id="explore" href="#explore"><i class="fa fa-globe fa-3x"></i><br>Explore</a>
			 		</li>
					<li>
		   	    <a id="create" href="#projects/new"><i class="fa fa-plus-square-o fa-3x"></i><br>Create</a>
				  </li>

					<li>
		     	  <a id="partners" href="#partnerships"><i class="fa fa-users fa-3x"></i><br>Partners</a>
					</li>
			
					<li>
		     	  <a id="projects" href="#projects"><i class="fa fa-sitemap fa-3x"></i> <br>Projects</a>
					</li>
			
					<li>
		     	  <a id="profile" href="#profile"><i class="fa fa-user fa-3x"></i><br>Profile</a>
					</li>
					
					<li>
						<a id="settings" href="#"><i class="fa fa-cog fa-3x"></i><br>Settings</a>
					</li>
	    </ul>
		</div>
	</div>
</nav>