<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bridge-nav-collapse">
       <span class="sr-only"> Toggle Navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="#"><img src="/assets/bridge_logo.jpeg"></a>
  </div>
	<div class="collapse navbar-collapse" id="bridge-nav-collapse">
  	<ul class="nav navbar-nav">
				<li><a href="#" data-toggle='modal' data-target="#login-modal">Log In</a></li>
				<li><a class="last" href="#" data-toggle='modal' data-target="#signup-modal">Get Access</a></li>
      <ul class="dropdown-menu">
      </ul>
    </ul>
	</div>
</nav>