<form action="<%= static_pages_allow_access_url %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="password" name="password">
</form>