<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Bridge, <%= @user.email %></h1>
		<p>You are now connected to the most important resource for starting a business- other people.</p>
		<p>To get the best possible matches for your next project, be sure to tell us more about your passions and skill here mybridge.herokuapp.com</p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>