<div class="col-sm-12 col-md-10 col-md-offset-1">
	<div class="col-md-6" id="create-project">
		<div class="col-sm-6 col-sm-offset-3 create">
			<h4>Create A New Project</h4>
		</div>
		<div class="col-sm-8 col-sm-offset-2 create-button">
			<a href="#projects/new" class="btn btn-primary full-width">Build</a>
		</div>
	</div>
	<div class="col-md-6" id="create-partnership">
		<div class="col-sm-8 col-sm-offset-2 create">
			<h4>Create A New Partnership</h4>
		</div>
		<div class="col-sm-8 col-sm-offset-2 create-button">
			<a href="#partnerships/new" class="btn btn-primary gray full-width">Connect</a>
		</div>
	</div>
</div>