<div class="row">
	<div class="col-sm-12 col-md-6 col-md-offset-3" id="update-profile">
		<h1>Edit Your Profile</h1>
		
		<form id="edit-profile">
			<label>Summary</label>
			<div class="input-group update">
				<textarea name="user[summary]"><%= user.escape("summary") %></textarea>
			</div>

			<label>Location</label>
			<div class="input-group update">
				<input class="form-control" type="text" name="user[location]" value="<%= user.escape("location") %>" >
			</div>
			
			<div class="edit-tags">
			</div>
			
			<div class="form-group">
				<label class="control-label">Add Skills or Interests!</label>	
					<div class="input-group update">
						<input class="form-control" type="text" name="user[tags][]" id="tags">
						<span class="input-group-addon btn btn-primary btn-oval" style="top: 0px" id="add-tag">Add</span>
					</div>
			</div>
			
			<button class="btn btn-primary btn-oval">Save Changes</button>
		</form>
	</div>
	<div class="col-md-2">
</div>