<h1>Explore</h1>
<div class="project-scroller">
	<ul>
		<% projects.forEach(function(project){ %>
			<li class="inline-block explore-holder">
				<a href="#">
					<img src="<%= project.escape("photo_url") %>">
					<%= project.escape("title") %>
				</a>
			</li>
		<% }) %>
	</ul>
</div>