<h1>Explore</h1>
<div class="project-scroller">
	<ul>
		<% projects.forEach(function(project){ %>
			<li class="project-holder inline-block tag-holder">
				<!-- <img src="<%= project.escape("photo_url_small") %>"> -->
				<p><%= project.escape("title") %></p>
			</li>
		<% }) %>
	</ul>
</div>