<h1>Explore</h1>
<div class="project-scroller">
	<ul>
		<% projects.forEach(function(project){ %>
			<li class="inline-block explore-holder">
				<a href="#">
					<!-- <% if(project.escape("photo_url")){ %> -->
					<!-- <img src="<%= project.escape("photo_url_small") %>"> -->
					<!-- <% } else { %> -->
						<!-- <img class="default-display" src="/assets/project_default.png"> -->
					<!-- <% }  %> -->
					<%= project.escape("title") %>
				</a>
			</li>
		<% }) %>
	</ul>
</div>