<div class="col-md-12">
	<div class="tags" id="passion-holder">
	<h4 class="left">Passions and Interests</h4>
		<% if(passions.length < 1){%>
			<div class="tag-holder passion">
				Your Passions Will
			</div>
			<div class="tag-holder passion">
				Display Here!
			</div>
		<% } %>
		<% passions.forEach(function(passion){ %>
			<div class="tag-holder passion">
				<%= passion.escape("name") %>
			</div>
		<% }) %>
			<div class="tag-holder passion" id="add-passion">
				<div class="inside-tag passion">
					Add Passion
				</div>
			</div>
			<div class="col-md-12" id="breadcrumbs"></div>
		<form id="add-passion-form" class="hidden">
			<select class="form-control" name="user[passions][]" id="add-passion-input">
				<option value="">Select Your Passion</option>
				<% tags.forEach(function(tag){ %>
					<option value="<%= tag.escape("name") %>"><%= tag.escape('name') %></option>
				<% }) %>
			</select>
			<button class="btn btn-primary" id="submit-passion">Add Passion</button>
		</form>
	</div>
	<div class="errors" id="passion-errors"></div>
</div>