<div class="col-sm-12 col-md-10 col-md-offset-1" >
	<div class="row">
		<div class="col-sm-6">
			<div class="row" id="summary-view-holder"></div>
			<div class="row" id="personal-info-holder"></div>
		</div>
		<div class="col-sm-6">
			<div id="passion-view-holder"></div>
			<div id="skill-view-holder"></div>
		</div>
	</div>
</div>
