<div class="col-sm-12 col-md-8 col-md-offset-2" >
	<div class="row">
		<div class="col-md-12">
			<h3 class="left"><%= user.escape("first_name") ? user.escape("first_name") : "Welcome!" %></h3>
			<div class="summary-container">
				<div id="summary-text">
					
					<%= user.escape("summary") ? user.escape("summary") : "Tell us about yourself..." %>
				</div>
				<div class="add hidden" id="edit-summary">
					<span class="glyphicon glyphicon-pencil"></span>
				</div>
				<form id="edit-summary-form" class="hidden">
					<textarea name="user[summary]" id="edit-summary-input"><%= user.escape("summary") %></textarea>
					<button class="btn btn-primary" id="update-summary">Update</button>
				</form>
			</div>
		</div>
	</div>
	<div class="row" id="skill-view-holder"></div>
	<div class="row" id="passion-view-holder"></div>
	<div class="row" id="personal-info-holder"></div>
</div>
