<div class="col-sm-12 col-md-8 col-md-offset-2" >
	<h2>Summary</h2>
	<div class="summary-container">
		<%= user.escape("summary") %>
	</div>
	
	<div class="tags">
		<% tags.forEach(function(tag){ %>
			<div class="tag-holder">
				<%= tag.escape("name") %>
			</div>
		<% }) %>
	</div>