<div class="col-sm-12 col-md-8 col-md-offset-2" >
	<div class="row">
		<div class="col-md-12">
			<h3>Summary</h3>
			<div class="summary-container">
				<%= user.escape("summary") %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h3>Skills</h3>
			<div class="tags">
				<% tags.forEach(function(tag){ %>
					<div class="tag-holder">
						<%= tag.escape("name") %>
					</div>
				<% }) %>
			</div>
		</div>
	</div>
</div>
