/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
$light-blue: #7adcff;

body {
	font-family: verdana;
	padding-top: 75px;
}

h1 {
	font-family: verdana;
	font-size: 5.2em;
	line-height: 2.0em;
	font-weight: 200;
	font-style: normal;
	max-width: 100%;
	text-align: center;
}

h2, h3, h4 {
	margin: 0 auto;
	margin-top: 8%;
	font-size: 4.2em;
	text-align: center;
}

h3 {
font-size: 3.2em;
}

h4 {
	font-size: 2.8em;
}

form{
	text-align: center;
}

.errors {
	text-align: center;
	color: red;
}

.navbar {
	height: 125px;
	font-size: 28px;
	background-color: #fff;
	ul {
		float: right;
		background: white;
	}
	margin-bottom: 0px;
	
	.navbar-brand{
		img{
			width: 182px;
			height: 100px;
		}
	}
}

.navbar-default .navbar-nav > li > a {
	color: #777777;
	font-size: 44px;
	border-right: solid
}

.headline-image, .image-wrapper{
	width: 100%;
	height: auto;
}

#headline{
	min-height: 600px;
}

.no-image{
	min-height: 600px;
}

.image-overlay{	
	position: absolute;
	top: 45%;
	left: 25%;
	background: white;
	width: auto;
	height: 25%;
}

textarea {
	width: 100%;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.form-control{
	padding-top: 2px;
	height: 37px;
}
.btn-primary {
	background-color: $light-blue;
	font-style: bold;
	border-color: $light-blue;
}

.navbar-header {
	float: none;
}

.hide-header{
	display: none
}

#launch-container{
	text-align: center;
}

.input-group-addon{
  color: white;
  background-color: $light-blue;
}

.input-group{
	margin: 0px 25px 10px 25px;
}
.login{
	font-size: 24px;
}

.btn-oval {
	font-size: 20px;
	border-radius: 20px;
	width: 150px;
}

@media (max-width: 900px){
	h1 {
		font-size: 4.0em;
	}
	#headline{
		min-height: 400px;
	}
}

@media(max-width: 768px){
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 22px;
	}
	h3 {
		font-size: 20px;
	}
	#headline{
		min-height: 200px;
	}
	
	.navbar-default .navbar-nav > li > a {
		font-size: 24px;	
	}
	
	.navbar{
		height: 75px;
		ul {
			float: right;
			background: white;
		}
		.navbar-brand{
			img{
				width: 91px;
				height: 50px;
			}
		}
	}
}