/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
$input-border-focus: rgba(50,198,163, 0.7);

@import "bootstrap";
$gray: rgb(118, 113, 113);
$green: rgb(50,198,163);

html {
	height: 100%;
	margin-bottom: 75px;
}

body {
	font-family: verdana;
	color: rgb(127, 127, 127);
	padding-top: 210px;
	height: 100%;
	background-color: rgb(251,251,251);
}

#content{
	margin-bottom: 175px;
}

input {
	margin-bottom: 2px;
}

h1 {
	font-family: verdana;
	font-size: 5.2em;
	line-height: 2.0em;
	font-weight: 200;
	font-style: normal;
	max-width: 100%;
	text-align: center;
}

h2, h3, h4 {
	margin: 0 auto;
	margin-top: 25px;
	font-size: 4.2em;
	text-align: center;
}

h3 {
	font-size: 3.2em;
}

h4 {
	font-size: 2.8em;
	margin-bottom: 5px;
}

li{
	list-style-type: none;
}

form{
	text-align: center;
}

label {
	text-align: left;
}

ul{
	background: rgb(251,251,251);
}

.form-div{
	text-align: center;
}

.float-left{
	float: left !important;
}

.inline-block{
	display: inline-block !important;
	float: none !important;
}

.full-width{
	width: 100%;
}

.input-group{
	width: 100%;
}

.errors {
	text-align: center;
	color: red;
}

.navbar-fixed-top{
	border-width: 0 0 3px;
}

.navbar-toggle{
	margin-top: 20px;
}

.navbar-inner{
	height: inherit;
}

.navbar-nav{
	margin-top: 20px;
}

.navbar-nav.navigation-holder{
	text-align: center;
	margin-top: 0px;
	width: 100%;
	img {
		height: 60px;
		width: 60px;
	}
	li {
		width: 20%;
	}
}

.navbar {
	height: 208px;
	background-color: rgb(251,251,251);
	ul {
		float: right;
	}
	margin-bottom: 0px;
	
	.navbar-brand{
		padding: 0 0 0 0;
		margin-left: 5%;
		img{
			width: 182px;
			height: 70px;
		}
	}
}

.navbar-default .navbar-nav > li > a {
	color: $green;
	font-size: 24px;
}

.headline-image, .image-wrapper{
	width: 100%;
	height: auto;
}

#headline{
	min-height: 600px;
}

.no-image{
	min-height: 600px;
}

.image-overlay{	
	position: absolute;
	top: 45%;
	left: 25%;
	background: white;
	width: auto;
	height: 25%;
}

textarea {
	width: 100%;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	margin-bottom: 5px;
}

.form-control{
	padding-top: 2px;
	height: 37px;
}
.btn-primary {
	background-color: $green;
	font-style: bold;
	border-color: $green;
	margin-bottom: 5px;
	&:hover{
		background-color: #168D71;
		border-color: #168D71;
	}
}

.gray {
	background-color: $gray;
	border-color: $gray;
	&:hover{
		background-color: #4B4747;
		border-color: #4B4747;
	}
}

.hide-header{
	display: none
}

#launch-container{
	text-align: center;
	margin-top: -180px;
}

.input-group-addon{
  color: white;
  background-color: $green;
}

.input-group{
	margin: 0px 25px 10px 25px;
}

.input-group.small{
	width: inherit;
}
.login{
	font-size: 24px;
}

.btn-oval {
	font-size: 20px;
	border-radius: 20px;
	width: 150px;
}

#home-page-logo{
	width: 728px;
	height: 280px;
}

#def-holder{
	margin-top: -40px;
	margin-bottom: 15px;
	h4{
		font-size: 2.6em;
	}
}

#new-project{
	margin-top: 20px;
}

#bridge-nav-collapse{
	border-top: solid 3px;
	border-color: #e7e7e7;
}

::-webkit-scrollbar-thumb{
   background-color: rgba(255,255,255, 1);

} 

@media (max-width: 900px){
	h1 {
		font-size: 4.0em;
	}
	#headline{
		min-height: 400px;
	}
}

@media(max-width: 768px){
	body{
		padding-top: 105px;
	}
	
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 22px;
	}
	h3 {
		font-size: 20px;
	}
	#headline{
		min-height: 200px;
	}
	
	.navbar-default .navbar-nav > li > a {
		font-size: 24px;	
	}
	
	.navbar-nav.navigation-holder{
		width: inherit;
	}
	
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: none;
	}
	
	#bridge-nav-collapse{
		border: none;
	}
	
	.navbar{
		height: 78px;
		ul {
			float: right;
		}
		.navbar-brand{
			img{
				width: 91px;
				height: 75px;
			}
		}
	}
}