/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
$light-blue: #7adcff;
body {
	font-family: proxima-nova;
}

textarea {
	width: 100%;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

h2 {
	font-size: 36px;
	color: gray;
}

.form-control{
	padding-top: 2px;
	height: 37px;
}
.btn-primary {
	background-color: $light-blue;
	font-style: bold;
	border-color: $light-blue;
}

.navbar {
	height: 125px;
	font-size: 28px;
	background-color: #fff;
	ul {
		float: right;
	}
}

.navbar-header {
	float: none;
}

.hide-header{
	display: none
}

#launch-container{
	text-align: center;
}

.input-group-addon{
  color: white;
  background-color: $light-blue;
}

.input-group{
	margin: 0px 25px 10px 25px;
}
.login{
	font-size: 24px;
}

.btn-oval {
	font-size: 20px;
	border-radius: 20px;
	width: 150px;
}