// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light-blue: #7adcff;

.process, .story {
	float: left;
	color: $light-blue;
	font-weight: bold;
}

.body-wrapper {
	margin-top: -75px;
}

.story {
	float: right;
}

.second {
	max-height: 600px;
	width: 100%;
	.image-overlay{
		height: 30%;
		padding: 2px;
	}
}

.navbar-default .navbar-nav > li > a.last {
	border-right: none;
	margin-right: 15px;
}

.bottom-line {
	margin-top: 5%;
}

.btn-square {
	margin-top: 4%;
	font-size: 1.8em;
	background: white;
	border: solid 3px;
	&:hover{
		background: black;
		color: white;
	}
}

#live {
	text-align: left;
	margin-top: 10px;
	font-size: 22px;
}

#live-header {
	text-align: left;
}

