// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$passion: rgb(50,198,163);
$skill: rgb(118, 113, 113);
$off-white: rgb(251,251,251);

#update-profile{
	text-align: center;
	padding: 5px;
}

.input-group.update{
	width: 100%;
}


.left {
	text-align: left;
}


#add-tag{
	height: 30px;
	font-size: 20px;
	border-radius: 20px;
	width: 150px;
}

.summary-container, .tags {
	font-weight: bold;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	overflow-y: scroll;
}

#edit-summary{
	font-size: 24px;
	color: $skill;
}

.summary-container {
	max-height: 250px;
}

.tags {
	overflow: auto;
	padding: 0px;
}

.tag-holder {
	text-align: center;
	float: left;
	width: 33%;
	padding: 17px 10px 10px 10px;
	margin-bottom: 5px;
	color: $off-white;
	border: solid 2px;
	height: 62px;
}

#add-passion, #add-skill{
	padding: 0;
}

.skill{
	background: $skill;
}
.passion {
	background: $passion;
}

#personal-info-form{
	text-align: center;
}

.add{
	float: right;

}

.glyphicon-pencil {
	&:hover{
		cursor: pointer;
		color: $passion;
	}
}

.inside-tag{
	margin: 0 auto;
	border: solid 2px;
	background: $off-white;
	height: 58px;
	padding: 17px 10px 10px 10px;
}

.passion.inside-tag{
	color: $passion;
	&:hover{
		cursor: pointer;
		color: $off-white;
		background-color: $passion;
	}
}
.skill.inside-tag{
	color: $skill;
	&:hover{
		cursor: pointer;
		color: $off-white;
		background-color: $skill;
	}
}

.overlay{
	visibility: visibile;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	overflow-y: scroll;
	background-color: rgba(255,255,255,0.8);
	z-index: 1050;
	height: 100%;
	width: 100%;
	text-align: center;
}

@media(max-width: 900px){
	.tag-holder{
		width: 50%;
	}
}
