// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#update-profile{
	text-align: center;
	padding: 5px;
}

.input-group.update{
	width: 100%;
}

.summary-container {
	width: 100%;
	overflow-y: scroll;
	height: inherit;
	border: solid 2px;
	border-radius: 5px;
	padding: 10px;
}