// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light-blue: #7adcff;
$dark-blue: #02405E;
$dark-gray: #404040;

#update-profile{
	text-align: center;
	padding: 5px;
}

.input-group.update{
	width: 100%;
}


.left {
	text-align: left;
}


#add-tag{
	height: 30px;
	font-size: 20px;
	border-radius: 20px;
	width: 150px;
}

.summary-container, .tags {
	font-weight: bold;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	overflow-y: scroll;
}

#edit-summary{
	font-size: 24px;
	color: $dark-gray;
}

.summary-container {
	max-height: 250px;
}

.tags {
	overflow: auto;
}

.tag-holder {
	text-align: center;
	float: left;
	width: 25%;
	padding: 10px;
	margin-bottom: 5px;
	color: white;
	border: solid 2px;
}

.skill{
	background: $dark-gray;
}
.passion {
	background: $dark-blue;
}


.add.passion {
	color: $dark-blue;
	background: white;
}

.add.skill{
	color: $dark-gray;
	background: white;
}

#personal-info-form{
	text-align: center;
}

#passion-holder {
	margin-bottom: 75px;
}


.add{
	float: right;
	&:hover{
		cursor: pointer;
		color: $light-blue;
	}
}

.glyphicon-pencil {
	&:hover{
		cursor: pointer;
		color: $light-blue;
	}
}