<div class="body-wrapper">
	<div class="row">
		<div class="image-wrapper col-md-12" id="headline">
			<img src="/assets/headline_image.jpeg" class="headline-image"/>
			<div class="image-overlay">
				<h1>Do What You Love.</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="image-wrapper no-image">
			<div class="headline-image"></div>
			<div class="col-sm-12 col-md-8 col-md-offset-2">
				<h2>Bridge Makes it Easier</h2>
				<h3>You are now connected to the most important resource there is - other people.</h3>
				<h4><a class="process">The Process</a></h4>
				<h4><a class="story">Our Story</a></h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="image-wrapper second col-md-12">
			<img src="/assets/secondline_image.jpeg" class="second"/>
			<div class="image-overlay">
				<h1>The Bridge Platform</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="image-wrapper no-image">
			<div class="headline-image"></div>
			<div class="col-sm-12 col-md-8 col-md-offset-2">
				<h4>Innovate with new people who share your passion for a specific project, but possess a complimentary set of skills.</h4>
				<div class="col-md-6 bottom-line">
					<h3 id="live-header">Be The First To Join The Network</h3>
					<p id="live">Going Live Fall 2014</p>
					<button class="btn btn-square">Get Early Access</button>
				</div>
			</div>
		</div>
	</div>
</div>